.signup-container{
    height: 100vh;
    justify-content: center;
}
.signup-container *{
    flex-shrink: 0;
}
.signup-container form{
    width: 30rem;
    min-height: 30rem;
    padding: 2rem;
    background-color: var(--white);
    box-shadow:rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-top: 5px solid;
    border-image: var(--gradient);
    border-image-slice: 1;
}
.signup-container form h2{
    font-size: 2rem;
}
.signup-container form .input-grp{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.signup-container form label{
    font-size: 1.2rem;
}
.signup-container form input{
    background-color: var(--white);
    border: 1px solid var(--grey);
    outline: none;
    font-size: 1.1rem;
    padding:0.5rem;
    border-radius: 0.2rem;
}
.signup-container form input:focus{
    background-color: rgba(79, 89, 102, 0.05);
    border: 1px solid var(--black);
}
.signup-container form .btn-grp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.if-container{
    display: flex;
    gap: 0.5rem;
}
